doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/lib/jquery-2.0.2.js')
    script(type='text/javascript', src='/javascripts/lib/bootstrap.js')
    script(data-main='/javascripts/main', src='/javascripts/lib/require.js')
  body
    block content
        .container
            .navbar(data-spy="affix-top")
                .navbar-inner
                    a.brand(href='#') Title
                    ul.nav
                      li.active
                        a(href='#') Home
                      li
                        a(href='#') Link
                      li
                        a(href='#') Link
                    ul.nav.pull-right
                      li
                        .btn-group
                          button.btn.dropdown-toggle(data-toggle='dropdown')
                            span.caret
                          ul.dropdown-menu.pull-right
                            li
                              a(href ="/recipe/new") Add Recipe
                            li
                              a(href='#') Import
                            li
                              a(href='#', data-bind="click: createAlert") Alert
                            li.divider
                            li
                              a(href='#', data-bind="click: ajaxReload") Ajax refresh
                    form.navbar-search.pull-right
                      input.search-query(type='text', placeholder='Search')
            .page-header
                h1= title
            .knockoutTestDiv
                .recipe_display(data-bind="foreach: recipes")
                    //pre(data-bind='text: ko.toJSON($data, null, 2)').
                    div(data-bind="template: { name: 'min-recipe-template', data: $data}")
    script#min-recipe-template(type='text/html')
        //h3(data-bind='text: title')
        //pre(data-bind='text: ko.toJSON($parent, null, 2)').
        .row-fluid.well
            .span10
                h3(data-bind='text: title, click: fullView')
                .min-recipe-info
                    p
                        | Descr:
                        span(data-bind='text: description')
                    p
                        | Rating:
                        span(data-bind='text: rating')
                    p
                        | Time:
                        span(data-bind='text: time().total')
            .span2
                .dropdown.btn-group.pull-right
                    a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                        span.caret
                      ul.dropdown-menu
                        li
                            button.btn.btn-block(type='button',data-bind='click: fullView') View
                        li
                            button.btn.btn-block(type='button',data-bind='click: editView') Edit
                        li
                            button.btn.btn-block(type='button',data-bind='click: deleteRecipe') Delete
            
            
        