doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/lib/jquery-2.0.2.js')
    script(type='text/javascript', src='/javascripts/lib/bootstrap.js')
    script        
        function getRecipeObject() {
            var r = '!{recipeJSON}';
            return JSON.parse(r);
            }
    script(data-main='/javascripts/recipe_view', src='/javascripts/lib/require.js')
  body
    block content
        h1(data-bind="text: recipe().title")
        .ingredients
            .ingr_display(data-bind="foreach: recipe().ingredients")
                div(data-bind="template: {name: 'ingredient-template',data: $data}")
        .method
            .method_display(data-bind="foreach: recipe().method")
                div(data-bind="template: {name: 'method-template',data: $data, index: $index()}")
            
    script#ingredient-template(type='text/html')
        .ingredient(data-bind="text: $data")
    script#method-template(type='text/html')
        .step
            p(data-bind="text: 'Step:' + $index()")
            p(data-bind="text: $data")