doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/lib/jquery-2.0.2.js')
    script(type='text/javascript', src='/javascripts/lib/bootstrap.js')
    script        
        function getRecipeObject() {
            var r = '!{recipeJSON}';
            return JSON.parse(r);
            }
    script(data-main='/javascripts/recipe_view', src='/javascripts/lib/require.js')
  body
    block content
        h1(data-bind="text: recipe().title")
        .row-fluid
            .span1
                p Servings:
            .span1
                .servings(data-bind="text: recipe().servings")
            .span1
                p Rating:
            .span1
                p(data-bind="text: recipe().rating")
        .row-fluid
            .span1
                p Time:
            .span1
                p(data-bind="text: recipe().time().total")
        .row-fluid
            .span4
                h3 Ingredients
                .ingr_display(data-bind="foreach: recipe().ingredients")
                     div(data-bind="template: {name: 'ingredient-template',data: $data}")
            .span8
                h3 Method
                .method_display(data-bind="foreach: recipe().method")
                    div(data-bind="template: {name: 'method-template',data: $data, index: $index()}")
            
    script#ingredient-template(type='text/html')
           form
            fieldset
                label.checkbox
                    input(type='checkbox') 
                    p(data-bind="html: $data")
    script#method-template(type='text/html')
        .row-fluid
            .span1
                p(data-bind="text: 'Step ' + $index()")
            .span8
                p(data-bind="text: $data")
                